extends layout

block content
    #calculon.calculon
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Variable
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Addition
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Subtraction
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Multiplication
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Division
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Exponent
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Square Root
    button.addBoop.btn.btn-default.btn-lg.btn3d(type='button') Modulo

    script(src='js/boop.js')
    script(src='js/calculon.js')
