extends layout

block content

    .toolbar
        //button.addBoop.btn.btn-default.btn-sm(type='button') Variable
            button.addBoop.btn.btn-default.btn-sm(type='button') Addition
            button.addBoop.btn.btn-default.btn-sm(type='button') Subtraction
            button.addBoop.btn.btn-default.btn-sm(type='button') Multiplication
            button.addBoop.btn.btn-default.btn-sm(type='button') Division
            button.addBoop.btn.btn-default.btn-sm(type='button') Exponent
            button.addBoop.btn.btn-default.btn-sm(type='button') Square Root
            button.addBoop.btn.btn-default.btn-sm(type='button') Modulo
        button.addBoop.btn.pure-button-default(type='button', name='Variable') Variable
        button.addBoop.btn.pure-button-default(type='button', name='Addition') Addition
        button.addBoop.btn.pure-button-default(type='button', name='Subtraction') Subtraction
        button.addBoop.btn.pure-button-default(type='button', name='Multiplication') Multiplication
        button.addBoop.btn.pure-button-default(type='button', name='Division') Division
        button.addBoop.btn.pure-button-default(type='button', name='Exponent') Exponent
        button.addBoop.btn.pure-button-default(type='button', name='Square Root') Square Root
        button.addBoop.btn.pure-button-default(type='button', name='Modulo') Modulo
        button.addBoop.btn.pure-button-trash(type='button', name='Trash') Trash
        button.addBoop.btn.pure-button-boopit(type='button', name='BoopIt') Boop-It
    .login
        //form.pure-form.pure-form-stacked
        .pure-form.pure-form-stacked
            input#projectId(type='text', name='projectId', placeholder='Project ID')
            button.btn.pure-button-default#load Load
            //
                label(for='email') Email
                    input(type='email')
                label(for='email') Password
                    input(type='password')
                button.btn.pure-button-default(type='submit') Login
    #calculon.calculon

    script(src='js/boop.js')
    script(src='js/calculon.js')
