extends layout

block content
    link(rel='stylesheet', href='/css/flowchart.css')
    button#addBoop.btn.btn-default.btn-lg.btn3d(type='button') Add Boop
    #flowchart-demo.demo.flowchart-demo

    script(src='js/jsplumb-flowchart.js')
