extends layout

block content
    script(src='js/boop.js')
    script(src='js/calculon.js')
    button.addBoop Variable
    button.addBoop Addition
    button.addBoop Subtraction
    button.addBoop Multiplication
    button.addBoop Division
    button.addBoop Exponent
    button.addBoop Square Root
    button.addBoop Modulo
    #calculon