.flowchart-demo {
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    top:0;
}

.flowchart-demo .window {
    border:1px solid #346789;
    /*
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);*/
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    text-align:center;
    z-index:20; position:absolute;
    background-color:#eeeeef;
    color:black;
    font-family:helvetica;
    font-size:0.9em;
    width:97px;
    height:97px;
    padding:0;
}

.flowchart-demo .window:hover {
    opacity:1;
}

/*.flowchart-demo .window:active {
    box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 12px 30px rgba(0, 0, 0, 0.7);
    box-shadow:         0px 12px 30px rgba(0, 0, 0, 0.7);
    margin-top: -10px;
}*/

.flowchart-demo .active {
    border:1px dotted green;
}
.flowchart-demo .hover {
    border:1px dotted red;
}

/*#flowchartWindow1 { top:34em;left:5em;}*/
/*#flowchartWindow2 { top:7em; left:36em;}*/
/*#flowchartWindow3 { top:27em;left:48em; }*/
/*#flowchartWindow4 { top:23em; left:22em;}*/
.flowchart-demo ._jsPlumb_connector { z-index:4; }
.flowchart-demo ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }

.flowchart-demo .aLabel {
    background-color:white;
    /*padding:0.4em;*/
    font:12px sans-serif;
    color:#444;
    z-index:21;
    border:1px dotted gray;
    opacity:0.8;
    filter:alpha(opacity=80);
    cursor: pointer;
}
.flowchart-demo .aLabel._jsPlumb_hover {
    background-color:#5C96BC;
    color:white;
    border:1px solid white;
}

