body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url("../img/gridbg2.png");*/
  background-color:#0b2a49;
}

*:focus {
    outline:0;
}

a {
  color: #00b7ff;
}

/*.boop {
  position: absolute;
  background-color: #eeeeef;
  border: 1px solid #346789;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px #aaa;
  color: #000;
  position: absolute;
  width: 80px;
  height: 80px;
}


.boop:hover {
  box-shadow: 2px 2px 19px #aaa;
  cursor: pointer;
}
.boop .button {
  border-radius: 50%;
  background-color: #000;
  width: 17px;
  height: 17px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  padding-bottom: 1px;
  padding-right: 1px;
}
.boop .button:hover {
  color: #666;
}
.boop .button.addInput {
  top: -8px;
}
.boop .button.addOutput {
  top: 67px;
  left: 67px;
}
.boop .button.delete {
  top: -8px;
  left: 67px;
}


.connect {
  width: 100%;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}*/

/*
#calculon {
    width: 800px;
    height: 600px;
    border: 1px solid;
}
*/

.wrapper {
    margin: 20px auto 0 auto;
    position:relative;
    width:1000px
}

.app-header {
    background-color:#00b7ff;
    height:50px;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 5;
    border-bottom: 1px solid #000;
    position:fixed;
}

.app-header button {
    margin: 5px;
}

.calculon {
    margin:0;
    padding:0;
    position:relative;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);
    width:2000px;
    height:2000px;
    background: url("../img/gridbg2.png");
    z-index: 1;
    /*background-color: rgba(0, 0, 0, 0.49);*/
}

.calculon .boopWrapper {
    position:absolute;
    margin:0;
    padding:0;
    width:99px;
    height:99px;
    z-index:30;
}

.calculon .boop {
    border:1px solid #346789;
    /*-webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);*/
    border-radius:0.5em;
    border:0;
    /*opacity:0.8;*/
    filter:alpha(opacity=80);
    text-align:center;
    z-index:20;
    display:block;
    background-color:#00b7ff;
    /*background-color:#eeeeef;*/
    color:black;
    font-family:helvetica;
    font-size:0.9em;
    width:99px;
    height:99px;
    padding:0;
}
.boop .title {
    padding: 0px;
    text-align: center;
    cursor: move;
    font-size: 9px;
}
.boop .value {
    padding: 0;
    border: 0;
    font-size: 32px;
    text-align: center;
    width: 78px;
    font-weight:bold;
    color:#fff;
    background-color: rgba(0,0,0,0);
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2);
}

.boop .value.disabled {
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    cursor: pointer;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
.btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}