body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../img/gridbg.png");
  background-color:#0b2a49;
}
a {
  color: #00b7ff;
}
.boop {
  position: absolute;
  background-color: #eeeeef;
  border: 1px solid #346789;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px #aaa;
  color: #000;
  position: absolute;
  width: 80px;
  height: 80px;
}
.boop:hover {
  box-shadow: 2px 2px 19px #aaa;
  cursor: pointer;
}
.boop .button {
  border-radius: 50%;
  background-color: #000;
  width: 17px;
  height: 17px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  padding-bottom: 1px;
  padding-right: 1px;
}
.boop .button:hover {
  color: #666;
}
.boop .button.addInput {
  top: -8px;
}
.boop .button.addOutput {
  top: 67px;
  left: 67px;
}
.boop .button.delete {
  top: -8px;
  left: 67px;
}
#calculon {
  width: 800px;
  height: 600px;
  border: 1px solid;
}
.boop .title {
  padding: 0px;
  text-align: center;
  cursor: move;
  font-size: 9px;
}
.boop .value {
  padding: 0;
  width: 78px;
  text-align: center;
}
.connect {
  width: 100%;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}