body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url("../img/gridbg2.png");*/
  background-color:#0b2a49;
}

*:focus {
    outline:0;
}

a {
  color: #00b7ff;
}

.wrapper {
    margin: 20px auto 0 auto;
    position:relative;
    width:1000px
}

.toolbar {
    background-color:#3C3F41;
	left: 29%;
	top: .5%;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 5;
    border-bottom: 1px solid #000;
    position:fixed;
    padding:10px;
}

.toolbar button {
    margin: 5px;
}

.login {
    background-color:#3C3F41;
	right: 1%;
	top: .8%;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);
    text-align: left;
    z-index: 5;
    border-bottom: 1px solid #000;
    position:fixed;
    color:#fff;
    padding: 10px;
}

.calculon {
    margin:0;
    padding:0;
    position:relative;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 3px 7px rgba(0, 0, 0, 1);
    box-shadow:         0px 3px 7px rgba(0, 0, 0, 1);
    width:2000px;
    height:2000px;
    background: url("../img/gridbg2.png");
    z-index: 1;
    /*background-color: rgba(0, 0, 0, 0.49);*/
}

.calculon .boopWrapper {
    position:absolute;
    margin:0;
    padding:0;
    width:99px;
    height:99px;
    z-index:30;
}

.calculon .boop {
    border:1px solid #346789;
    border-radius:0.3em;
    border:0;
    filter:alpha(opacity=80);
    text-align:center;
    z-index:20;
    display:block;
    background-color:#00b7ff;
    color:black;
    font-size:15px;
    width:99px;
    height:99px;
	font-weight: 600;
    padding:0;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
}
.boop .title {
    padding: 0px;
    text-align: center;
    cursor: move;
    font-size: 9px;
}
.boop .value {
    padding: 0;
    border: 0;
    margin-top:14px;
    font-size: 28px;
    text-align: center;
	height: 40px;
    width: 78px;
    font-weight:bold;
    color:#fff;
    /*background-color: rgba(0,0,0,0);*/
    background-color:#3C3F41;
    -moz-box-shadow:inset 0px 1px 8px #000000;
    -webkit-box-shadow:inset 0px 1px 8px #000000;
    box-shadow:inset 0px 1px 8px #000000;
    text-shadow:1px 2px 6px #000000;
}

.boop .value.disabled {
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    cursor: pointer;
}

.pure-button-default {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-default {
	background: rgb(66, 184, 221);
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
    background-color:#00b7ff;
}

.pure-button-trash {
	position:fixed;
	height: 75px;
	width: 75px;
	top:825px;
	right:20px;
	background: rgb(66, 184, 221);
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
}

.pure-button-boopit {
	position:fixed;
	height: 75px;
	width: 75px;
	top:825px;
	left:20px;
	background: rgb(66, 184, 221);
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 1);
}


.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
.btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}